  <nav>
    {{^is "home"}}
      <a class="backArrow" href="{{@blog.url}}"><img class="back_button" src="/assets/img/back.svg" width="40px" height="40px"></a>
    {{/is}}
    <ul>
      {{#foreach navigation}}
        <li class="nav-{{slug}}" role="presentation"><a href="{{url absolute="true"}}" class="{{#if current}}current{{/if}}">{{label}}</a></li>
      {{/foreach}}
    </ul>
  </nav>
